<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/form.css' %}" />
  </head>
  <body>
    <div class="contactez-nous" style="height: fit-content">
      <h1
        style="
          text-align: center;
          text-transform: capitalize;
          size: 200px;
          color: brown;
          text-shadow: -1px -1px 1px brown, 0px 2px 1px rgba(0, 0, 0, 0.5);
          font-size: 2.6rem;
          line-height: 1.5;
        "
      >
        Votre Santé professionel
      </h1>
      <form method="post" action="{% url 'burn3' %}">
        {% csrf_token %}
  
        <div>
            <div>
            <label for="s15-t" class="lab"> Pensez-vous que discuter d'un problème de santé physique avec votre employeur aurait des conséquences négatives ?</label>
            <div class="test">
            <input type="radio" id="s15-1" name="s15" value="2" required />
            <label for="huey">Oui</label></div>
            <div class="test">
            <input type="radio" id="s15-2" name="s15" value="1" />
            <label for="dewey">Non</label></div>
            <div class="test">
            <input type="radio" id="s15-3" name="s15" value="0" />
            <label for="dewey">peut être</label></div>
            </div>
  
            <div>
            <label for="s16-t" class="lab">  Seriez-vous prêt à discuter d'un problème de santé mentale avec vos collègues ?</label>
            <div class="test">
            <input type="radio" id="s16-1" name="s16" value="2"  required/>
            <label for="huey">Oui</label></div>
            <div class="test">
            <input type="radio" id="s16-3" name="s16" value="1" />
            <label for="dewey">certains d'entre eux</label></div>
            <div class="test">
            <input type="radio" id="s16-2" name="s16" value="0" />
            <label for="dewey">Non</label></div>
            </div>

            <div>
            <label for="s17-t" class="lab">Accepteriez-vous de discuter d'un problème de santé mentale avec votre (vos) superviseur(s) direct(s) ?</label>
            <div class="test">
            <input type="radio" id="s17-1" name="s17" value="2" required />
            <label for="huey">Oui</label></div>
            <div class="test">
            <input type="radio" id="s17-3" name="s17" value="1" />
            <label for="dewey">certains d'entre eux</label></div>
            <div class="test">
            <input type="radio" id="s17-2" name="s17" value="0" />
            <label for="dewey">Non</label></div>
            </div>

            <div>
            <label for="s18-t" class="lab">Aborderiez-vous un problème de santé mentale avec un employeur potentiel lors d'un entretien ?
            </label>
            <div class="test">
            <input type="radio" id="s18-1" name="s18" value="2" required />
            <label for="huey">Oui</label></div>
            <div class="test">
            <input type="radio" id="s18-2" name="s18" value="1" />
            <label for="dewey">Non</label></div>
            <div class="test">
            <input type="radio" id="s18-3" name="s18" value="0" />
            <label for="dewey">peut être</label></div>
            </div>

            <div>
            <label for="s19-t" class="lab">Évoqueriez-vous un problème de santé physique avec un employeur potentiel lors d'un entretien ?
            </label>
            <div class="test">
            <input type="radio" id="s19-1" name="s19" value="2" required  />
            <label for="huey">Oui</label></div>
            <div class="test">
            <input type="radio" id="s19-2" name="s19" value="1" />
            <label for="dewey">Non</label></div>
            <div class="test">
            <input type="radio" id="s19-3" name="s19" value="0" />
            <label for="dewey">peut être</label></div>
            </div>

            <div>
            <label for="s20-t" class="lab">Avez-vous l'impression que votre employeur prend la santé mentale aussi au sérieux que la santé physique ?
            </label>
            <div class="test">
            <input type="radio" id="s20-1" name="s20" value="2"  required />
            <label for="huey">Oui</label></div>
            <div class="test">
            <input type="radio" id="s20-2" name="s20" value="1" />
            <label for="dewey">Non</label></div>
            <div class="test">
            <input type="radio" id="s20-3" name="s20" value="0" />
            <label for="dewey">je ne sais pas</label></div>
           </div> 
            
           <div>
            <label for="s21-t" class="lab">Avez-vous entendu parler ou observé des conséquences négatives pour les collègues ayant des problèmes de santé mentale dans votre milieu de travail ?
            </label>
            <div class="test">
            <input type="radio" id="s21-1" name="s21" value="1"  required/>
            <label for="huey">Oui</label></div>
            <div class="test">
            <input type="radio" id="s21-2" name="s21" value="0" />
            <label for="dewey">Non</label></div>
            </div>
          
  </div>
          <div>
            <button type="submit">Tester </button>
          </div>
        </div>
      </form>
    </div>
  </body>
  