<head>
  {% load static %} 
    <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.js' %}" rel="stylesheet">
  <link href="{% static 'assets/js/bootstrap.bundle.min.js' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/js/glightbox.min.js' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.js' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'assets/css/stylestress.css' %}" />
  

</head>
<body>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row gy-2">
      <div class="col-lg-4 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>VOTRE TEST EST POSITIF :( </h1>
        <h2> Ne laissez pas le stress nuire à votre santé. Apprenez à le gérer grâce aux nos conseils .</h2>
        <div>
          <a href="#services" class="btn-get-started scrollto">Voir les conseils</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="{% static 'assets/images/stressnegatif.png' %}" class="img-fluid animated" alt="" >
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Nos Conseils </h2>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" >
          <div class="icon-box">
            <h4 class="title"><a href="">Dormez</a></h4>
            <p class="description">une bonne nuit de sommeil peut contribuer au sentiment d’invincibilité. Alors que la fatigue augmente généralement le taux d’adrénaline, ce qui rend plus vulnérable au stress, le repos améliore la productivité.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <h4 class="title"><a href="">Socialisez</a></h4>
            <p class="description">Le fait de passer du temps avec certaines personnes (même si c’est virtuellement) peut contribuer à votre bonheur, et une voix familière peut stimuler la sécrétion d’ocytocine, soit l’hormone de l’amour.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <h4 class="title"><a href="">Souriez et riez</a></h4>
            <p class="description"> Le simple fait de sourire est bénéfique. Même lorsqu’il est forcé, ce geste peut provoquer des émotions positives dans une situation stressante.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <h4 class="title"><a href="">Faites de l’exercice</a></h4>
            <p class="description">l’activité physique libère la sérotonine et l’endorphine, ce qui contribue au sentiment de bien-être. Faire du cardio est génial, mais même une activité moins intense, comme la marche, peut aider.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
<!-- Vendor JS Files -->
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>
