<head>
    {% load static %} 
      <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.js' %}" rel="stylesheet">
    <link href="{% static 'assets/js/bootstrap.bundle.min.js' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/js/glightbox.min.js' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.js' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'assets/css/stylestress.css' %}" />
    

  </head>
  <body>
 
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-2">
        <div class="col-lg-4 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1> Vous êtes en bonne santé </h1>
          <h2> <label for="nom" class="lab">Toutes nos félicitations </label>vous êtes en
            bonne santé mais puisque le Surmenage est une maladie très fréquente on
            vous conseille de suivre ces 10 règles pour pouvoir mieux y faire face…</h2>
          <div>
            <a href="#regles" class="btn-get-started scrollto">Voir les Règles</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'assets/images/burnoutnonmalade.png' %}" class="img-fluid animated" alt="" width="500" height="450">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="regles" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Nos Règles </h2>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <h4 class="title"><a href="">Règle N°1 : Cultivez votre vie affective</a></h4>
              <p class="description">
                Maintenir une harmonie dans la vie de couple, avec les enfants et les amis
                permet d’aider à mieux résister aux facteurs de stress.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <h4 class="title"><a href="">Règle N°2: Soignez votre santé physique</a></h4>
              <p class="description"> Pour être moins sujet au burn-out, il est aussi important de prendre soin
                de son corps. Rester actif, faire du sport, manger équilibré, soigner son
                sommeil,..</p>  </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h4 class="title"><a href="">Règle N°3: Soignez votre santé psychique</a></h4>
              <p class="description">Veillez aussi à bien nourrir votre esprit: méditation, lectures, sports,
                balades, hobbys… Essayez de trouver un équilibre entre les activités que
                vous «devez» faire et celles que vous avez «envie» de faire </p></div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <h4 class="title"><a href="">Règle N°4: Questionnez votre philosophie de vie</a></h4>
              <p class="description">Interrogez-vous sur votre philosophie de vie, vos valeurs et prenez le
                temps d’évaluer si vous vivez en accord avec elles.</p> </div>
          </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <h4 class="title"><a href="">Règle N°5: Au boulot, essayez de réduire votre charge de travail</a></h4>
                <p class="description">
                    Apprenez à déléguer et à collaborer avec des collègues pour vous
                    entraider. Pour réduire les sollicitations intempestives, changez de
                    bureau ou demandez à faire du télétravail. Listez votre charge de travail
                    et demandez des changements si c’est intenable,...
                </p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <h4 class="title"><a href="">Règle N°6: Apprenez à mieux gérer votre temps</a></h4>
                <p class="description"> Faites un planning chaque semaine et chaque jour, hiérarchisez les tâches
                    et déléguez ce qui peut l’être. Prenez le temps de réfléchir et de
                    planifier avant de vous lancer dans un projet. Identifiez les heures où
                    vous êtes plus efficace,...</p>  </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <h4 class="title"><a href="">Règle N°7: Identifiez vos facteurs de stress</a></h4>
                <p class="description"> Ils peuvent être multiples: surcharge de travail, insatisfaction,
                    ambiguïté des rôles ou des tâches, manque de communication ou de
                    participation aux prises de décisions, difficultés relationnelles avec un
                    client… </p></div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon-box">
                <h4 class="title"><a href="">Règle N°8: Interrogez-vous sur le sens de votre travail</a></h4>
                <p class="description">Réévaluez régulièrement vos choix professionnels pour voir s’ils sont en
                    accord avec vos valeurs. Il est aussi important de se libérer du
                    perfectionnisme ou d’une ambition trop grande. Ainsi que d’apprendre à
                    déconnecter lors de vos temps libres (soirs, week-ends, congés…).</p> </div>
            </div>
  
          </div>
  
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <h4 class="title"><a href="">Règle N°9: Agissez</a></h4>
                <p class="description">
                    Une fois les problèmes identifiés, tentez de les résoudre. Essayez
                    d’obtenir de la reconnaissance en demandant des évaluations régulières.
                    Demandez à aménager votre horaire ou temps de travail ou à diversifier vos
                    tâches. Refusez qu’on vous manque de respect et apprenez les techniques de
                    communication envers les personnes difficiles, mettez à plat les conflits…
                </p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <h4 class="title"><a href="">Règle N°10: Soyez attentif aux premiers signes de burn-out</a></h4>
                <p class="description">  Il est important de réagir à temps car une fois le burn-out installé, en
                    sortir peut s’avérer long et difficile. Levez le pied dès que nécessaire
                    et prenez du recul pour réfléchir sur votre situation au travail et
                    comment l’améliorer.</p>  </div>
            </div>
  
            
          </div>
      </div>
    </section><!-- End Services Section -->
  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  </body>
  