<head>
    {% load static %} 
      <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.js' %}" rel="stylesheet">
    <link href="{% static 'assets/js/bootstrap.bundle.min.js' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/js/glightbox.min.js' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.js' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/stylestress.css' %}" />
    
  
  </head>
  <body>
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-2">
        <div class="col-lg-4 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Malheureusement Vous Souffrez 
            du BurnOut  </h1>
          <h2> Le <label for="nom" class="lab">BurnOut </label>n’arrive pas en un jour.
      Il s’installe sur des mois, des années…
      Mais n'inquiétez pas il est possible de s’en sortir grâce aux nos conseils : </h2>
      <div>
        <a href="#servicesBurn" class="btn-get-started scrollto">Voir les conseils</a>
      </div>
    </div>
    <div class="col-lg-6 order-1 order-lg-2 hero-img">
      <img src="{% static 'assets/images/burnoutmalade.png' %}" class="img-fluid animated" alt="" width="500" height="450">
    </div>
  </div>
</div>
  
  </section><!-- End Hero -->
  
  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" >
  
        <div class="section-title">
          <h2>Nos Conseils </h2>
        </div>
  
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" >
            <div class="icon-box">
              <h4 class="title"><a href="">Aller Au Docteur</a></h4>
              <p class="description">Vous devez aller voir votre médecin
                généraliste afin qu’il puisse faire un bilan de santé complet, tourner vers
                le médecin du travail de votre entreprise</p>
            </div>
          </div>
  
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <h4 class="title"><a href="">Améliorer Votre Situation au travail</a></h4>
              <p >Trouver des solutions concrètes
                pour améliorer votre situation au travail  par exemple :changement de poste, de
                service, d’horaire, passage en temps partiel…</p>
            </div>
          </div>
  
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <h4 class="title"><a href="">Consulter un Psychothérapeute</a></h4>
              <p class="description"> Le psychothérapeute vous aide pour
                réfléchir aux facteurs qui ont favorisé sa survenue afin d’éviter les
                récidives, qui sont fréquentes</p> 
            </div>
          </div>
  
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <h4 class="title"><a href="">Un Coach Professionnel</a></h4>
              <p class="description">vous aide à trouver des solutions concrètes
                pour changer votre façon de travailler (mieux s’organiser et prioriser,à
                dire non, à ne pas travailler le soir et le week-end, apprendre à
                déléguer, à gérer une équipe…). </p> 
               </div>
          </div>
  
        </div>
        <div class="row">
            
    
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
                <h4 class="title"><a href="">Améliorer Votre Vie Sociale</a></h4>
                <p class="description">Identifier les ressources dans
                    votre vie privée sur lesquelles on peut s’appuyer pour s’épanouir
                    (familles, amis, hobbys…) et les développer. </p>
              </div>
            </div>
    
            
          </div>
      </div>
    </section><!-- End Services Section -->
  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  
  </body>
  